body{
    background-color: #20232a;
    margin: auto;
    max-width: 700px;
}
.forecast {
    margin: 0 20px;
    font-family: Arial, Helvetica, sans-serif;   
    color: #61dafb; 
    display: flex;
    justify-content: center;
}

h1, h3 {
    color: orange;
}

.error-message {
    color: red;
}

button {
    background-color: orange;
    border-radius: 5px;
    box-shadow: 1px 1px silver;
}

button:active {
    background-color: #20232a;
    box-shadow: 1px 1px #61dafb;
    border: 1px solid #61dafb;
    color: orange;   
}
