.search-form {
    padding: 10px;
    margin-bottom: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; 
    align-items: center;   
}

.search-instruction {
    flex: 1 0 auto;
    text-align: end;
    padding: 10px;
    color: orange;
    
}